<script>
  import Board from "./Board.svelte";

  let currentPlayer = "x";

  let title = `Turn: ${currentPlayer}`;

  let gameOver = false;

  let winningTiles = [];

  let tiles = [
    { name: "topL", player: "&nbsp;" },
    { name: "topC", player: "&nbsp;" },
    { name: "topR", player: "&nbsp;" },
    { name: "midL", player: "&nbsp;" },
    { name: "midC", player: "&nbsp;" },
    { name: "midR", player: "&nbsp;" },
    { name: "botL", player: "&nbsp;" },
    { name: "botC", player: "&nbsp;" },
    { name: "botR", player: "&nbsp;" }
  ];

  const resetBoard = () => {
    for (let i = 0; i < tiles.length; i++) {
      tiles[i].player = "&nbsp;";
    }
    currentPlayer = "x";
		title = `Turn: ${currentPlayer}`;
    gameOver = false;
    winningTiles = [];
  };

  const togglePlayer = () => {
		if (!gameOver) {
			if (currentPlayer == "x") {
				currentPlayer = "o";
			} else {
				currentPlayer = "x";
			}
			title = `Turn: ${currentPlayer}`;
		}
  };

  const boxClick = tileName => {
    if (!gameOver && tiles.filter(t => t.name === tileName)[0].player === "&nbsp;") {
      for (let i = 0; i < tiles.length; i++) {
        if (tiles[i].name == tileName) {
          tiles[i].player = currentPlayer;
          break;
        }
      }
      checkVictoryConditions();
      togglePlayer();
    }
  };

  const victoryConditions = [
    ["topL", "topC", "topR"],
    ["midL", "midC", "midR"],
    ["botL", "botC", "botR"],
    ["topL", "midC", "botR"],
    ["topR", "midC", "botL"],
    ["topL", "midL", "botL"],
    ["topC", "midC", "botC"],
    ["topR", "midR", "botR"]
  ];

  const checkVictoryConditions = () => {
    for (let i = 0; i < victoryConditions.length; i++) {
      const victoryCondition = victoryConditions[i];

      const vc0 = tiles.filter(t => t.name == victoryCondition[0])[0].player;
      const vc1 = tiles.filter(t => t.name == victoryCondition[1])[0].player;
      const vc2 = tiles.filter(t => t.name == victoryCondition[2])[0].player;

      if (vc0 === currentPlayer && vc0 === vc1 && vc1 === vc2) {
				title = currentPlayer + " wins!";
        gameOver = true;
        winningTiles = victoryCondition;
      }
    }
  };
</script>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }
  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 100;
  }
  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>

<main>
  <h1>{title}</h1>
  <Board {tiles} {boxClick} {winningTiles} />
  <br />
  <button on:click={() => resetBoard()}>Reset</button>
</main>
