<script>
  export let tiles;
  export let boxClick;
  export let winningTiles;

  const generateTileClass = tileName => {
    return winningTiles.includes(tileName) ? "tile win" : "tile";
  };
</script>

<style>
  div.board {
    width: 306px;
    margin: 0 auto;
    border: 1px solid black;
    height: 306px;
  }
  div.tile {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #000;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
  }
  div.tile.win {
    background: #ff3e00;
  }
</style>

<div class="board">
  {#each tiles as tile (tile.name)}
    <div
      on:click={() => boxClick(tile.name)}
      class={generateTileClass(tile.name)}
      id={tile.name}>
      {@html tile.player}
    </div>
  {/each}
</div>
